/* BÁSICO */

body {
background-color: black;
color: #ecf0f1;
overflow-x: hidden;
font-family: "Noto Sans JP", sans-serif;
font-optical-sizing: auto;
font-weight: 300;
font-style: normal;
}

h1 {
font-size: 20pt;
}

h2 {
font-size: 18pt;
}

h3 {
font-size: 16pt;
}

h4 {
font-size: 14pt;
}

h5 {
font-size: 12pt;
}

p,
li {
font-size: 12pt;
min-width: 16px;
text-align: justify;
}

html {
height: 100%;
scrollbar-width: none;
}

strong {
font-weight: 500;
}

em {
font-style: italic;
margin-right: 1px;
}

.centro {
text-align: center;
}

.indentacao {
text-indent: 20px;
line-height: 1.7;
}

/* IMAGEM */

figure {
display: block;
}

img {
max-width: 100%;
height: auto;
display: block;
}

.imgdesktop {
display: table;
}

.imgmobile {
display: none;
}

/* HEADER */

.ativo {
text-shadow: 1px 1px 0 red;
font-weight: 400;
}

header {
background-color: #d9d9d9;
color: #23282f;
width: 100%;
border-bottom: 1px solid #d9d9d9;
border-image: linear-gradient(to bottom, #23282f, #d9d9d9) 30 stretch;
}

header .container1 {
border-bottom: 3px double #b7b7b7;
}

header .container2 {
padding: 5px 0 10px 0;
}

.container2 li a {
padding: 0 10px;
}

.container2 li:first-child a {
padding-left:0;
}

.container2 li:last-child a {
padding-right:0;
}

.container2 ul {
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
}

.container2 li {
position: relative;
}

.logo {
padding: 15px 0;
}

/* FOOTER */

footer {
text-align: right !important;
background-color: #d9d9d9;
color: #23282f;
width: 100%;
}

footer p {
font-size: 11pt;
padding: 5px 0 7px 0;
}

/* GERAL */

.section2 h2,
.section2 h3,
.section3 h2,
.section3 h3,
.section4 h2,
.section5 h2 {
padding: 0 10px 3px 1px;
margin-bottom: 10px;
}

.destaqueh2, .destaqueh3 {
font-weight: 700;
}

.destaqueh3{
margin-bottom:10px;
}

.container {
max-width: 1080px;
margin: 0 auto;
padding: 0 20px;
}

.section {
margin: 0 auto;
padding: 50px 0 10px 0;
overflow-x: hidden;
}

.section1,
.section2,
.section4,
.section5 {
padding-top: 40px;
}

.section1,
.section2,
.section3,
.section4, 
.section5 {
background-color: #ecf0f1;
color: black;
}

/* PÁGINA  1*/

.section1 .container {
display: flex;
flex-direction: row;
justify-content: space-around;
}

.apresentacao .indentacao {
line-height: 2;
text-indent: 30px;
margin-bottom: 10px;
word-spacing: 9px;
text-align: justify;
}

.section1 .container {
display: flex; 
flex-direction: row; 
justify-content: space-around;
}

.profile-picsocias,
.apresentacao {
display: flex; 
flex-direction: column; 
justify-content: center;
width: 50%;
}

.profile-picsocias,
.profile-picpredio {
filter: brightness(110%) contrast(110%) saturate(0%) blur(0px) hue-rotate(0deg);
}

.profile-picsocias img,
.profile-picpredio img{
width: 100%;
max-width: 100%;
}

.profile-picsocias {
}

.profile-picpredio {
}

.profile-picpredio:focus-visible,
.profile-picpredio:hover {
filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
transition: filter 0.5s;
}

.profile-picsocias:focus-visible,
.profile-picsocias:hover {
filter: brightness(100%) contrast(85%) saturate(90%) blur(0px) hue-rotate(0deg);
transition: filter 0.5s;
}

/* PÁGINA  2*/

.colunalista {
width: 100%;
}

.areaatuacao {
display: flex;
flex-direction: row;
max-width: 100%;
flex-wrap: wrap;
}

.areaatuacao h4 {
font-weight: 550;
}

.areaatuacao ul {
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
line-height: 1.7;
}

.personalidade,
.imobiliario,
.obrigacoes,
.medico,
.intelectual {
padding: 0 10px 10px 10px;
}

.section3 ul {
margin: 10px;
}

.section3 {
margin-top: 20px;
}

.section3 li {
padding: 0 20px;
position: relative;
}

.section3 li::before {
content: '▪';
position: absolute;
left: -0;
top: -1px;
font-weight: 500;
color: #a4a4a4;
}

/* PÁGINA  3*/

.curriculo .coluna_r{
display: flex; 
flex-direction: column; 
justify-content: center;
}

.juliana {
flex-direction: row-reverse !important;
}

.juliana p, .juliana h3 {
text-align: right !important;
}

.juliana .coluna_r {
width: 70%;
margin-left: 0 !important;
}

.juliana .destaquecurriculo, .juliana .accordion-txt-span {
  margin-right: 20px;
}

.juliana .listagem {
padding: 15px 50px 15px 23px;
}

.destaquecurriculo {
font-weight: 400;
}

.curriculo {
display: flex;
flex-direction: row;
justify-content: space-around;
}

.curriculo .profileimg {
border: 3px double #b7b7b7;
}

.coluna_r p{
padding-bottom: 10px;
border-bottom: 3px double #b7b7b7;
}

.coluna_r {
width: 70%;
}

.coluna {
width: 30%;
}

.destaquecurriculo, .accordion-txt-span {
margin-left: 20px;
}

.curriculo {
margin-bottom: 20px;
margin-top: 10px;
filter: brightness(110%) contrast(110%) saturate(0%) blur(0px) hue-rotate(0deg);
}

.curriculo:focus-visible,
.curriculo:hover {
filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
transition: filter 0.5s;
}

.listagem {
padding: 15px 0 15px 50px;
line-height: 1.7;
}

.listagem li::before {
content: '▪';
font-weight: 500;
margin-right: 10px;
margin-left: -25px;
color: #a4a4a4;
}

/* PÁGINA  4*/

.contato {
margin: 10px 0 5px 0;
}

.contato img {
margin-right: 5px;
vertical-align: middle;
display: inline;
}

.colunacontato {
margin-bottom: 30px;
}

.sobrecontato {
line-height: 1.5;
margin-bottom: 20px;
}

.mapa {
max-width: 100%;
border: 2px double #b7b7b7;
}

.mapa iframe {
width: 100%;
max-width: 100%;
height: 400px;
}

/*@media (max-width: 1080px) {
.areaatuacao {
display: block;
}

.section1 .container {
display: block;
}

header .container2 {
padding: 5px 20px 10px 20px;
}

container2 li a {
padding: 0 5px 0 0;
}

.curriculo {
display: block;
}

.colunacontato {
float: none;
width: 100%;
}

.imgdesktop {
display: none;
}

.imgmobile {
display: table;
}

.coluna_r h3 {
margin-top: 7px;
}

.section1 .profile-pic {
margin: 0;
margin-bottom: 20px;
}

}*/

@media (max-width: 400px) {

.container2 li{
width: 50%;
text-align: center !important; 
}

.container2 li a {
padding: 0 10px !important;
}

p {
text-align: left !important;
}
    
}
