html {
    height: 100%;
    scrollbar-width: none;
}

strong {
    font-weight: 500;
}

em {
    font-style: italic;
    margin-right: 1px;
}

.profile-pic {
display: flex; 
flex-direction: row; 
justify-content: space-around;
}

.section1 .profile-picsocias{
    filter: brightness(100%) contrast(85%) saturate(90%) blur(0px) hue-rotate(0deg);
    float: left;
  margin-right: 40px;
}

figure {
  display: table;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

figcaption::before {
content: '❙❘';
  margin-right: 5px;
  color: rgb(0, 0, 20);
  display: inline-block;
  margin-bottom: 1pt;
  border-radius: 2px;
}

figcaption {
  text-align: left;
  display: table-caption;
  caption-side: bottom;
}

.centro {
    text-align: center;
}

.indentacao {
    text-indent: 20px;
    line-height: 1.7;
text-align: justify;
}

.apresentacao {
    display: block;
}

.apresentacao .indentacao {
    /*line-height: 2;*/
    text-indent: 30px;
/*    font-size: 13pt;*/
    margin-bottom: 10px;
    word-spacing: 9px;
    text-align: justify;
/*    letter-spacing: 1px;
    font-weight: 400;*/
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    color: #ecf0f1;
    overflow-x: hidden;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

h1 {
    font-size: 20pt;
}

h2 {
    font-size: 18pt;
}

h3 {
    font-size: 16pt;
}

h4 {
    font-size: 14pt;
}

h5 {
    font-size: 12pt;
}

p,
li {
    font-size: 12pt;
    min-width: 16px;
}

header {
background-color: #d9d9d9;
color: #23282f;
width: 100%;
border-bottom: 1px solid #d9d9d9;
border-image: linear-gradient(to bottom, #23282f, #d9d9d9) 30 stretch;
}

header .container1 {
border-bottom: 3px solid #d9d9d9;
border-image: linear-gradient(to bottom, #23282f, #d9d9d9) 20 stretch;
}

.container2 li a {
  padding: 0 20px;
}

.container2 li {
  float: left;
}

.container2 li:first-child a {
  padding-left:0;
}

.container2 li:last-child a {
  padding-right:0;
}

header .container2 {
padding-bottom: 33px;
padding-top: 5px;
}

header h1 {
padding: 20px 0;
}


.personalidade ul,
.obrigacoes ul,
.intelectual ul,
.imobiliario ul,
.medico ul {
    margin: 10px;
}

.personalidade li,
.obrigacoes li,
.intelectual li,
.imobiliario li,
.medico li {
    padding: 0 20px;
    position: relative;
}

.personalidade li::before,
.obrigacoes li::before,
.intelectual li::before,
.imobiliario li::before,
.medico li::before {
    content: '▪';
    position: absolute;
    left: -0;
    top: -1px;
    font-weight: 500;
}

.areaatuacao {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    flex-wrap: wrap;
}

.areaatuacao h4 {
border-bottom: 2px solid #7f8c8d;
border-image: linear-gradient(to right, #bdc3c7, #B8860B00) 1 stretch;
font-weight: 550;
}

.areaatuacao ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    line-height: 1.7;
}

.personalidade,
.imobiliario,
.obrigacoes,
.medico,
.intelectual {
    border-radius: 7px;
    padding: 0 10px 10px 10px;
/*    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: 2px solid #bdc3c7;
    border-image: linear-gradient(to right, #B8860B00, #bdc3c7) 1 stretch;*/
}

.section1 .centro {
  padding-top: 10px;
}

.section2 h2,
.section2 h3,
.section3 h2,
.section3 h3,
.section4 h2,
.section5 h2 {
    padding: 0 10px 3px 1px;
   margin-bottom: 20px;
 /*    border-bottom: 2px solid #B8860B;
    border-image: linear-gradient(to right, #B8860B, #B8860B00) 1 stretch;*/
    text-decoration: 2px #B8860B underline;
}

footer {
text-align: right;
background-color: #d9d9d9;
color: #23282f;
width: 100%;
}

footer p {
  font-size: 10pt;
padding: 3px 0 5px 0;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 20px;
}

.section {
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.section1,
.section2,
.section4,
.section5 {
    padding-top: 40px;
}

.section2,
.section4 {
    background-color: #ecf0f1;
    color: black;
}

.section1,
.section3,
.section5 {
    background-color: #f5f6fa;
    color: black;
}

.destaquecurriculo {
/*    text-shadow: 0px 1px 1px #B8860B;*/
    text-decoration: #B8860B underline double;
}

.imgdesktop {
    display: table;
}

.imgmobile {
    display: none;
}

.curriculocontainer {
    display: flex;
    flex-direction: column;
}

.curriculo figcaption::before {
  color: #B8860B !important;
}

.curriculo .profileimg {
  border: 3px double #B8860B;
}

.accordion-txt p{
line-height: 2;
}

.coluna_r {
margin-left: 40px;
  width: 66%;
}

.coluna {
    width: 30%;
}

.curriculo {
    margin-bottom: 20px;
    margin-top: 10px;
    filter: brightness(110%) contrast(110%) saturate(0%) blur(0px) hue-rotate(0deg);
    display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.curriculo:focus-visible,
.curriculo:hover {
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.listagem ul {
    margin-left: 15px;
}

.listagem {
    padding: 5px 0 15px 15px;
    line-height: 1.7;
}

.listagem li::before {
    content: '▪';
    font-weight: 500;
    margin-right: 10px;
    margin-left: -16px;
}

.listagemextra {
    margin-top: 7px !important;
    margin-left: -16px;
}

.listagemextra .listagem li::before {
    content: '▪';
    font-weight: 500;
    margin-right: 5px;
    margin-left: -16px;
}

.listagemextra::before {
    content: none !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.listagemextra .listagem {
    margin-left: 0;
    padding-bottom: 0;
}

.effect {
    border-bottom: 2px solid #E4A817;
    border-image: linear-gradient(to right, #B8860B00, #B8860B00, #E4A817, #E4A817, #E4A817, #B8860B00, #B8860B00) 20 stretch;
}

.contato {
    margin: 10px 0 5px 0;
}

.contato img {
    margin-right: 5px;
    vertical-align: middle;
    display: inline;
}

.colunacontato {
    /*  float: left;width: 30%;*/
    margin-bottom: 30px;
}

.sobrecontato {
    line-height: 1.5;
    margin-bottom: 20px;
}

.mapa {
    /*  float: left;*/
    max-width: 100%;
    box-shadow: 2px 2px 2px #B8860B;
    border: 1px solid #B8860B;
}

.mapa iframe {
    width: 100%;
    max-width: 100%;
    height: 400px;
}

@media (max-width: 1080px) {
.container2 li{
font-size:11pt;
word-spacing: 1px;
letter-spacing: -1px;
}

.container2 li a{
padding:0 7px;
}

    header {
        max-width: 100%;
        /*padding: 15px 0;*/
    }

    header h1 {
        font-size: 25px;
    }

    .curriculo {
        max-width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }

    .section4 h2 {
        margin-bottom: 30px;
    }

    .colunacontato {
        float: none;
        width: 100%;
        margin-right: 0;
   }

    .imgdesktop {
        display: none;
    }

    .imgmobile {
        display: table;
    }

    .coluna,
    .coluna_r,
    .curriculo {
        width: 100%;
        float: none;
        margin-left: 0;
        margin-right: 0;
    }

    .section1 .profile-pic {
        float: none;
        text-align: center;
        margin: 0;
        margin-bottom: 20px;
    }

    .section1 .indentacao {
        text-indent: 10px;
        word-spacing: 0;
        letter-spacing: 0;
        font-size: 12pt;
    }

    .colunalista p {
  margin-left: 9px;
}
}

@media (max-width: 585px) {
    .areaatuacao ul {
        display: block;
    }
}
