html {
    height: 100%;
    scrollbar-width: none;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.centro {
    text-align: center;
}

.centro img {
    max-width: 80%;
    margin: 50px 0 20px 0;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    color: #ecf0f1;
    overflow-x: hidden;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

h1 {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 20pt;
    margin-bottom: 20px;
}

h2 {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 18pt;
    margin-bottom: 20px;
}

h3 {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 16pt;
    margin-bottom: 20px;
}

h4 {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 14pt;
}

h5 {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 12pt;
}

p,
li {
    font-size: 12pt;
    min-width: 16px;
    /* Tamanho mínimo para o texto principal */
}

/*CABEÇALHO*/

header {
    background-color: #23282f;
    color: #ecf0f1;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container {
    padding: 12px;
}

header h1 {
    margin: 0;
    padding-left: 20px;
    float: left;
}



.areaatuacao ul {
    padding-left: 0;
}

.personalidade ul,
.obrigacoes ul,
.intelectual ul,
.imobiliario ul,
.medico ul {
    margin: 10px;
}

.personalidade li,
.obrigacoes li,
.intelectual li,
.imobiliario li,
.medico li {
    padding: 0 20px;
    position: relative;
}

.personalidade li::before,
.obrigacoes li::before,
.intelectual li::before,
.imobiliario li::before,
.medico li::before {
    content: '⊹';
    position: absolute;
    left: -5px;
    top: -1px;
    font-weight: 500;
}

.areaatuacao {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.personalidade,
.obrigacoes,
.intelectual,
.imobiliario,
.medico {
  width: 100%;
}

.intelectual {
width: 33.33%;
}

.obrigacoes {
width: 66.66%;
}

.dpersonalidade,
.dobrigacoes,
.dimobiliario,
.contratos,
.consumidor,
.responsabilidadecivil,
.propriedade,
.familiasucessoes,
.biodireito{
    width: 33.33%;
float: left;
}

.dmedico {
width: 66.66%;
}

/*RODAPÉ*/

footer {
    /*👉    box-shadow: -2px -3px 0px #c0392b;👈*/
    background-color: rgb(0, 0, 20);
    color: #ecf0f1;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 12px 0;
}

/*MIOLO*/

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 20px;
}

.section {
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.section1,
.section5 {
    min-height: 100vh;
}


.section1,
.section2,
.section4,
.section5 {
    padding-top: 100px;
}

.section2,
.section4 {
    background-color: #dcdde1;
    color: black;
}

.section1,
.section3,
.section5 {
    background-color: #f5f6fa;
    color: black;
}


.destaqueh2,
.destaqueh3 {
    border-bottom: 2px solid #B8860B;
    padding: 0 10px 3px 10px;
    border-left: 2px solid #B8860B;
    border-radius: 0 0 0 8px;
}

.indentacao {
    text-indent: 0.5px;
}

.sidebar {
    position: fixed;
    top: -200px;
    background-color: #23282f;
    transition: left 1s ease-in-out, opacity 1s ease-in;
    z-index: 10;
    width: auto;
    display: flex;
    justify-content: center;
    width: 100%;
}


.sidebar.active header {
    background-color: #ecf0f1;
    color: #23282f;
}

.sidebar.active {
    top: 59px;
}

.sidebar ul {
    list-style: none;
    padding: 5px 15px;
}

.sidebar li {
    float: left;
    padding: 10px;
}

.sidebar li::before {
    content: '|';
    margin-right: 10px;
    font-weight: 700;
}

.sidebar li a {
    padding: 5px 20px;
    color: #ecf0f1;
    text-decoration: none;
}

.sidebar li:hover {
    font-weight: 600;
    text-decoration: underline;
}

.main-content {
    transition: margin-left 0.3s ease-in-out;
    padding-left: 270px;
    /* Espaço para a sidebar */
}

.main-content.active {
    margin-left: 0;
}

.toggle-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #ecf0f1;
}

.toggle-button.active {
    background-color: transparent;
}

.material-symbols-outlined {
    font-size: 37px !important;
    z-index: 11;
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
    float: left;
}

.imgdesktop {
    display: block;
}

.imgmobile {
    display: none;
}

.curriculocontainer {
    display: flex;
    flex-direction: column;
}

.coluna {
    width: 30%;
    float: left;
}

.curriculo {
    margin-bottom: 20px;
    margin-top: 10px;
}

.profile-pic img {
    filter: brightness(110%) contrast(110%) saturate(0%) blur(0px) hue-rotate(0deg);
}

.profile-pic:hover img {
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

/* Estilos do Accordion */
.accordion-item {
    border: 1px solid #95a5a6;
    margin-left: 30px;
    overflow: hidden;
    width: 65%;
    float: left;
}

.accordion-header {
    border-bottom: 2px solid #2f3640;
    border-right: 2px solid #2f3640;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.listagem {
    padding: 20px;
    padding-top: 0;
}

.accordion-header.accordion-active {
    border-bottom: none;
}

.accordion-title {
    margin: 0;
    font-weight: 400;
}

.accordion-icon {
    font-family: 'Material Symbols Outlined Seta';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    transition: transform 0.2s ease-in-out;
}

.accordion-content {
    font-weight: 400;
    line-height: 1.7;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
}

#accordion-1 .accordion-content.accordion-active,
#accordion-2 .accordion-content.accordion-active {
    max-height: 600px;
}

#accordion-3 .accordion-content.accordion-active {
    max-height: 2100px;
}

.accordion-content.accordion-active {
    border-bottom: 2px solid #2f3640;
    border-right: 2px solid #2f3640;
}

/* Estilos para quando o item estiver ativo */
.accordion-header.accordion-active .accordion-icon {
    transform: rotate(180deg);
}

/* Adaptação para dispositivos móveis */
@media (max-width: 1080px) {

    header .container {}

    header {
        max-width: 100%;
    }

    .container header {
        padding: 0;
    }

    .material-symbols-outlined {
        float: none;
    }

    .centro img {
        margin: 20px 0 10px 0;
    }

    .curriculo {
        max-width: 90%;
        margin: auto;
        margin-bottom: 50px;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 0;
    }

    header h1 {
        padding-left: 0;
        font-size: 25px;
    }

    .navegador {
        flex-direction: column;
        align-items: flex-start;
    }

    .sidebar {
        max-width: 100%;
    }

    .sidebar.active {
        top: 0;
    }

    .sidebar ul {
        width: 100%;
        padding: 15px;
    }

    .sidebar li {
        padding: 10px;
        text-align: center;
        float: none;
    }

    .sidebar li:hover {
        background: #34495e;
        text-decoration: none;
    }

    .sidebar li::before {
        content: none;
    }

    .main-content {
        transition: margin-left 0.3s ease-in-out;
        padding-left: 0;
    }

    .main-content.active {
        margin-left: 250px;
    }

    .toggle-button {
        position: relative;
        top: auto;
        left: auto;
        padding: 0;
        padding-right: 5px;
        border: none;
        cursor: pointer;
        z-index: 10;
    }

    .imgdesktop {
        display: none;
    }

    .imgmobile {
        display: block;
    }

    footer p {
        font-size: 10pt;
    }

    .centro img {
        max-width: 80%;
    }

    .coluna,
    .accordion-item {
        width: 100%;
        float: none;
    }

    .accordion-item {
        margin-left: 0;
    }
}

@media (max-width: 585px) {

    header .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section1,
    .section2,
    .section4,
    .section5 {
        padding: 130px 30px 30px 30px;
    }

    #accordion-3 .accordion-content {
        max-height: 2100px;
    }
}

@media (max-width: 350px) {

    .section1,
    .section2,
    .section4,
    .section5 {
        padding: 150px 30px 30px 30px;
    }

    #accordion-3 .accordion-content {
        max-height: 2500px;
    }
}
